<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - The H2Hproject Tools for easy connection</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/output.css">


    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">


    <!-- META OG TAGS -->
    <meta property="og:title" content=The About - Tools For Easy Connection>
    <meta property="og:site_name" content=H2Hproject>
    <meta property="og:url" content=h2hproject.com>
    <meta property="og:description" content=The Heart 2 Heart Project Exposes those common mistakes and behaviors that
        cause a delay in marriage and hinder the right partner from approaching you.>
    <meta property="og:type" content=product>
    <meta property="og:image" content=/images/logo.png>

    <!-- ICONS -->

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <!-- SWIPPER JS -->
    <link rel="stylesheet" href="/css/swiper.css">
    <!-- <script defer src="/js/swiper.bundle.js"></script> -->


    <!-- SCRIPTS -->
    <script defer src="/js/jquery.min.js"></script>
    <script type="module" defer src="/js/custom.js"></script>


    <!-- FAVICON -->
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
</head>

<body class="bg-purple-50">
    <%- include('component/header') %>

        <!-- ABOUT THE AUTHOR -->
        <div class="bg-white">
            <section class="h-full max-w-screen-2xl mx-auto p-4 md:px-4 py-16 md:py-28 mb-12">
                <div class="text-center mb-16">
                    <h4 class="text-center text-red-600 tracking-widest font-bold mb-4">ABOUT AUTHOR</h4>
                    <h2 class="text-center font-semibold text-4xl md:text-5xl mb-8">Learn about the founder</h2>

                    <div class="flex items-center justify-center relative">
                        <span class="w-44 bg-red-400 absolute h-0.5"></span>
                        <span class="material-symbols-outlined absolute text-red-400 text-2xl">
                            align_stretch
                        </span>
                    </div>
                </div>

                <!-- VIDEO AND INTRO SECTION -->
                <div class="md:grid grid-cols-2 items-center justify-between gap-8">
                    <div class="mb-8 flex items-center justify-center">
                        <div class="flex items-center justify-center relative min-h-max">
                            <img src="/images/kelly.jpg" height="500" alt="about kelly" class="block w-full">
                        </div>
                    </div>
                    <div class="mb-8">
                        <h2 class="mb-4 text-4xl md:text-5xl font-medium">Ibe Kelly</h2>
                        <p class="md:text-lg max-w-2xl leading-loose mb-4">
                            I’m a man that has felt the pains and I’m ready to wipe the secret tears of that single lady
                            experiencing a delay in
                            marriage.
                        </p>


                        <ul class="mb-6">
                            <li class="flex items-center mb-3">
                                <span class="material-symbols-outlined text-red-500">
                                    done
                                </span>
                                Achieved 10+ awarded
                            </li>
                            <li class="flex items-center mb-3">
                                <span class="material-symbols-outlined text-red-500">
                                    done
                                </span>
                                Very passionate about writting
                            </li>
                            <li class="flex items-center mb-3">
                                <span class="material-symbols-outlined text-red-500">
                                    done
                                </span>
                                5+ Books written
                            </li>
                        </ul>

                        <h2 class="text-lg font-bold mb-4">Get in Touch</h2>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram"
                                width="50" height="50" viewBox="0 0 24 24" stroke-width="1" stroke="red" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path
                                    d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
                                <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                                <path d="M16.5 7.5l0 .01" />
                            </svg>
                        </a>
                    </div>
                </div>
            </section>

            <section class="h-full max-w-screen-2xl mx-auto p-4 md:px-4 py-16 md:py-28 mb-12">
                <!-- ABOUT THE BOOK -->
                <div class="text-center mb-16">
                    <h4 class="text-center text-red-600 tracking-widest font-bold mb-4">ABOUT BOOK</h4>
                    <h2 class="text-center font-semibold text-4xl md:text-5xl mb-8">About The Product </h2>

                    <div class="flex items-center justify-center relative">
                        <span class="w-44 bg-red-400 absolute h-0.5"></span>
                        <span class="material-symbols-outlined absolute text-red-400 text-2xl">
                            align_stretch
                        </span>
                    </div>
                </div>
                <div class="md:grid grid-cols-2 items-center justify-between gap-8">

                    <div class="mb-8">
                        <h2 class="mb-4 text-4xl md:text-5xl font-medium">The Heart 2 Heart Project</h2>
                        <p class="md:text-2xl max-w-2xl leading-loose mb-8 text-red-500 font-bold">
                            Tools for Easy Connection
                        </p>


                        <ul class="mb-10">
                            <li class="flex items-center mb-3">
                                <span class="material-symbols-outlined text-red-500">
                                    done
                                </span>
                                Teaches how to responsibly attract a life partner.
                            </li>
                            <li class="flex items-center mb-3">
                                <span class="material-symbols-outlined text-red-500">
                                    done
                                </span>
                                It reveals what bachelors expects from spinsters.
                            </li>
                            <li class="flex items-center mb-3">
                                <span class="material-symbols-outlined text-red-500">
                                    done
                                </span>
                                It exposes those human common mistakes responsible for delay in marriage.
                            </li>
                        </ul>

                        <p class="text-lg mb-5 max-w-md ">Note…Ignorance is not an excuse to be single. Get
                            the knowledge you need to succeed. Click the link <span
                                class="text-red-500 font-bold text-3xl">BELOW</span> to Get
                            Started.</p>
                        <a href="#" class="inline-block py-3 px-8 bg-red-500 text-white font-bold rounded">
                            Buy Now
                        </a>
                    </div>

                    <div class="mb-8 flex items-center justify-center">
                        <div class="flex items-center justify-center relative min-h-max">
                            <img src="/images/kelly.jpg" height="500" alt="about kelly" class="block w-full">
                        </div>
                    </div>
                </div>
            </section>

            <!-- MILESTONES -->
            <section class="h-full max-w-screen-2xl mx-auto p-4 md:px-4 py-16 md:py-28 mb-12">
                <div class="text-center mb-16">
                    <h4 class="text-center text-red-600 tracking-widest font-bold mb-4">AWESOME STATS</h4>
                    <h2 class="text-center font-semibold text-4xl md:text-5xl mb-8">Proven Track Records
                    </h2>

                    <div class="flex items-center justify-center relative">
                        <span class="w-44 bg-red-400 absolute h-0.5"></span>
                        <span class="material-symbols-outlined absolute text-red-400 text-2xl">
                            align_stretch
                        </span>
                    </div>
                </div>

                <!-- MILESTONES CONTAINER -->
                <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-3" id="milestone_container">

                    <!-- ACHEIVEMENT CONTAINER -->
                    <div class="bg-red-100 p-3 md:p-6">
                        <div class="flex items-center justify-end">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-book"
                                width="100" height="100" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFCCCC"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
                                <path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
                                <path d="M3 6l0 13" />
                                <path d="M12 6l0 13" />
                                <path d="M21 6l0 13" />
                            </svg>
                        </div>
                        <h2 class="text-7xl font-medium text-red-800"><span class="interval-load" data-speed="20"
                                data-stop="231">0</span><span>+</span></h2>
                        <p class="font-medium text-red-700 tracking-widest text-xl my-4">Copies Sold</p>

                    </div>
                    <!-- ACHEIVEMENT CONTAINER -->
                    <div class="bg-red-100 p-3 md:p-6">
                        <div class="flex items-center justify-end">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart"
                                width="100" height="100" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFCCCC"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                                <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                                <path d="M17 17h-11v-14h-2" />
                                <path d="M6 5l14 1l-1 7h-13" />
                            </svg>
                        </div>
                        <h2 class="text-7xl font-medium text-red-800"><span class="interval-load" data-speed="100"
                                data-stop="15">0</span><span>+</span></h2>
                        <p class="font-medium text-red-700 tracking-widest text-xl my-4">Happy Customers
                        </p>
                    </div>
                    <!-- ACHEIVEMENT CONTAINER -->
                    <div class="bg-red-100 p-3 md:p-6">
                        <div class="flex items-center justify-end">


                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-hourglass-empty"
                                width="100" height="100" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFCCCC"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M6 20v-2a6 6 0 1 1 12 0v2a1 1 0 0 1 -1 1h-10a1 1 0 0 1 -1 -1z" />
                                <path d="M6 4v2a6 6 0 1 0 12 0v-2a1 1 0 0 0 -1 -1h-10a1 1 0 0 0 -1 1z" />
                            </svg>
                        </div>
                        <h2 class="text-7xl font-medium text-red-800"><span class="interval-load" data-speed="100"
                                data-stop="5">0</span><span>+</span></h2>
                        <p class="font-medium text-red-700 tracking-widest text-xl my-4">Years</p>

                    </div>
                </div>

            </section>
        </div>

        <%- include('component/footer') %>
</body>

</html>